.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    margin: 6rem 0 2.5rem 0.75rem;
}

.contact__addressContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.contact__address {
    padding: 0 1.5rem;
    margin-top: 0;
}

@media (max-width: 768px) {
    .contact__title {
        margin: 2.25rem 0 0.5rem 0rem;
    }
    .contact__addressContainer {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        /* margin-bottom: 4.5rem; */
    }
    .contact__address {
        text-align: center;
        padding: 0 0;
        margin: 0 0 0.75rem 0;
    }
    .contact__addressTitle {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}