/* Hero section */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6.5rem;
}

.hero__titleContainer {
    padding: 2.75rem 7.5rem 0 0;
}

.hero__title {
    margin: 0 0 0.75rem 0;
}

.hero__subtitle {
    font-weight: var(--body-highlight-font-weight);
    margin: 0 0 2rem 0;
}

.hero__icon {
    width: 19rem;
    height: 19rem;
}

/* Address section */
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 4.5rem;
}

.address__title {
    margin-bottom: 2.25rem;
}

.address__carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
}

.address__img {
    width: 19rem;
    height: 13.5rem;
    object-fit: cover;
}

.address__info {
    margin: 0.5rem 0 0 0;
}

/* About section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.25rem;
    /* margin: 2.25rem 0 4rem 0; */
}

.about__title {
    margin-bottom: 1rem;
}

.about__text {
    margin: 0 0 0 0;
    width: 85%;
}

/* Social Media section */
.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.socialMedia__title {
    margin-bottom: 2.25rem;
}
.socialMedia__carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem;
}
.socialMedia__img {
    width: 15.5rem;
    height: 15.5rem;
    object-fit: cover;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
        /* margin-bottom: 4.5rem; */
    }
    .hero__titleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0 4.5rem 0;
    }
    .hero__title {
        margin-bottom: 0.25rem;
    }
    .hero__subtitle {
        text-align: center;
        margin: 0 1.5rem 1rem 1.5rem;
        width: 45%;
        /* solution erroné */
        /* margin-bottom: 1rem;  */
    }
    .hero__icon {
        width: 14.5rem;
        height: 14.5rem;
    }
}

@media (max-width: 768px) {
    .address {
        margin-top: 4.5rem;
        /* margin-bottom: 4.5rem; */
    }
    .address__carousel {
        grid-template-columns: 1fr;
        /* grid-gap: 2.6rem; */
        grid-gap: 2.5rem;
    }
    .address__img {
        width: 16rem;
        /* height: 11.3rem; */
        height: 11.25rem;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .about__text {
        /* text-align: center;
        margin: 0 0 0 0;
        width: 45%; */
        max-width: 16rem;
        text-align: center;
    }   
}
@media (max-width: 768px) {
    .socialMedia {
        margin-top: 2rem;
    }
    .socialMedia__carousel {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}