/* menu Section */
.menu {
    display: flex;
    flex-direction: column;
    margin: 0 9.5rem 0 9.5rem;
}
.menu__title {
    margin: 2.25rem 0 0 0;
}
.menu__subtitle {
    margin: 0 0 2.25rem 0;
}
.menu__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    text-align: center;
}
.menu__icon {
    width: 9rem;
    height: 9rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.menu__part {
    margin-bottom: 3.75rem;
}
.menu__partTitle {
    margin-bottom: 1.75rem;
}
.menu__partDish {
    margin-bottom: 2rem;
    line-height: 2.5rem;
}

@media (max-width: 768px) {
    .menu {
        margin: 0;
        align-items: center;
    }
    .menu__subtitle {
        display: none;
    }
    .menu__card {
        /* width: 19.5rem;
        padding-top: 1.25rem;
        padding-bottom: 2rem; */
        width: 19.5rem;
        padding-bottom: 2rem;
        margin-top: 2.25rem
    }
    .menu__icon {
        width: 4rem;
        height: 4rem;
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
    }
    .menu__part {
        margin-bottom: 0;
    }
    .menu__partTitle {
        margin-bottom: 0.5rem;
    }
    .menu__partDish {
        /* margin-bottom: 0;
        line-height: 1.25rem; */
        margin-bottom: 0;
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .menu__dishDescription {
        display: none;
    }      
}