.footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: var(--black);
    color: var(--white);
    padding: 5rem 4.5rem 5rem 4.5rem;
}

.footer__icon {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 3.25rem;
}

@media (max-width: 768px) {
    .footer {
        justify-content: center;
        padding: 4.75rem 0 4.75rem 0;
    }

    .footer__icon {
        /* margin-left: 2.25rem; */
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}