.redBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--red-highlight);
    color: var(--white);
    padding: 3.75rem 0 3.75rem 0;
}
.redBanner__title {
    font-weight: var(--body-highlight-font-weight);
    margin: 0 0 1rem 0;
}

@media (max-width: 768px) {
    .redBanner {
        /* padding-top: 2.5rem; */
        /* padding-bottom: 2.75rem; */
        padding: 2.75rem 0 2.75rem 0;      
    }
    
    .redBanner__title {
        margin-bottom: 2rem;
    }
}